.tp-header-marker {
  line-height: 1;
  text-align: center;
  font-family: $header-font-family;
  @include breakpoint(large up) {
    font-size:4em
    text-align: right;
  }
  @include breakpoint(medium down) {
    font-size: 2.75em;
  }
}

.tp-body-p {
  p {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.625;
    letter-spacing: -.4px;
    font-weight: 400;
    font-size: 1.25em;
  }
  a {
    color: #ff8674;
  }
  @include breakpoint(medium up) {
    text-align: right;
  }
}
